<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410385735269-6hq54bfv36p0v1m071fogjnmtt4tjaoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410385735269-6hq54bfv36p0v1m071fogjnmtt4tjaoo</string>
	<key>API_KEY</key>
	<string>AIzaSyAJCJGtsJgPpGMCYaetvTJpW37tLXwQaj8</string>
	<key>GCM_SENDER_ID</key>
	<string>410385735269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muratala.TinderApp</string>
	<key>PROJECT_ID</key>
	<string>tinderapp-9903f</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderapp-9903f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410385735269:ios:4bf0e894b205905934308c</string>
</dict>
</plist>